.copyright {
  font-family: "Jost";
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  line-height: 20px;
  color: #000000;
}

.laser {
  color: rgba(240, 0, 187, 1);
  padding: 0 3px;
}
