@import "../../../styles/variables.scss";

.rgm {
  display: flex;
  align-items: center;
  gap: 10px;
}

.web {
  font-family: var(--font-jost);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #000000;
}

.robert {
  color: #d71920;
}

@media screen and (max-width: $phoneWidth) {
  .rgm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .web {
    text-align: center;
  }
}
