.service {
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 20px;

  padding: 20px 23px 30px 20px;
  position: relative;
}

.button {
  padding: 20px 30px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%);
}

.image {
  border-radius: 20px;
  object-fit: cover;
  transition: filter 0.3s ease;
  &:hover {
    filter: contrast(0.3);
  }
}

.service_inner:hover .link {
  display: block;
}

.image_inner:hover .image {
  filter: contrast(0.3);
}

.link {
  display: none;
}

.name {
  font-family: var(--font-dm);
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  padding-top: 20px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}
