@import "../../../../styles/variables.scss";

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  cursor: pointer;
  height: 339px;
  user-select: none;
  border-radius: 20px;
  overflow-y: scroll;
}

.item_top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
}

.avatar {
  padding-bottom: 20px;
  img {
    border-radius: 50%;
  }
}

.name {
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  font-family: var(--font-dm);
  letter-spacing: 0.01em;
  padding-top: 40px;
  color: #000000;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #4d5053;
  padding: 25px 37px 0px 37px;

  padding-bottom: 25px;
  font-family: var(--font-jost);
}

@media screen and (max-width: $smDesktopWidth) {
  .item {
    padding: 20px 50px 0 20px;
  }

  .item_top {
    gap: 15px;
  }

  .name {
    font-size: 22px;
  }

  .description {
    font-size: 18px;
  }
}
