@import "../../../styles/variables.scss";

.choose_us {
  margin: 100px 30px;
}

.title {
  font-weight: 400;
  font-size: 70px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.02em;
  padding-bottom: 50px;
  margin: 0 auto;
  display: block;
  color: #000000;
}
@media screen and (max-width: $smDesktopWidth) {
  .choose_us {
    margin: 50px 30px;
  }
}

@media screen and (max-width: $tableWidth) {
  .title {
    text-align: center;
    font-size: 50px;
  }
}
