@import "../../../styles/variables.scss";

.typography {
  font-family: var(--font-dm);
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 125%;
  display: flex;
  align-items: center;
  color: #000000;
}

@media screen and (max-width: $phoneWidth) {
  .typography {
    font-size: 45px;
  }
}
