.card {
  padding: 50px 30px;
  background: #ffffff;
  border-radius: 20px;
}

.icon {
  text-align: center;
  background: #f8f9fa;
  width: 93px;
  margin: 0 auto;
  height: 93px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_title {
  font-family: var(--font-dm);
  font-style: normal;
  font-weight: 400;
  padding-top: 28px;
  padding-bottom: 20px;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}

.description {
  font-family: var(--font-jost);
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}
