.footer {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  justify-content: center;
  gap: 60px;
}

.logo {
  width: 177px;
  height: 25px;
}

.footer_list {
  li {
    a {
      font-size: 16px;
      font-family: var(--font-jost);
      font-weight: 700;
    }
  }
  li + li {
    padding-left: 30px !important;
  }
}
